# Entorno virtual de Python
venv/
env/
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de VS Code
.vscode/

# Reportes de cobertura (si los generas localmente)
.coverage
htmlcov/
.pytest_cache/

# Archivos del sistema
.DS_Store
Thumbs.db
